html {
    background-color: #cadbef;
    color: #3f4448;
}
.container {
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);
    background-color: #fff;
    border-radius: 3px;
    padding: 5px;
}
.map{
    position: relative;
    width: 100%;
    height: 50%;
    border:0;
}
.text {
    padding-left: 16px;
    padding-top: 25px;
    font-family: Avenir, Helvetica, sans-serif;
    line-height: 1.5;
    color: #3f4448;
}
.title {
    padding: 12px 20px;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 14px;
    color: #3f4448;
}
